body{       
    background-image: url("bd.jpg");
    margin-right: 100px;
    margin-left: 100px;
    background-color: #cccccc;"
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
    "header header header header"
    "nav main main hagri"
    "nav vinstri vinstri  hagri"
    "footer footer footer footer"
    
      ;

}
#container{
    border: 0,5px;
    width: 800px;
    height: 600px;
    border-color: cyan;
}
header, footer, nav, main, aside, article{
    border: 0.5px solid;
    background-color: transparent;
    color:white;
    border-color: rgb(177, 255, 255);
}

.H{
    grid-area: header;
    background-image: url("header.jpg");
    background-color: #cccccc;
    text-align: center;
    padding: 10px;
}
.N{
    grid-area: nav;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 10px;
}
.M{
    grid-area: main;
    background-color:rgba(0, 0, 0, 0.562);
    padding: 10px;
}
.A{
    grid-area: vinstri;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 10px;
}
.S{
    grid-area: hagri;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 10px;
}
.F{
    grid-area: footer;
    background-image: url("header.jpg");
    background-color: #cccccc;
    text-align: right;
    padding: 10px;
}
div{
    border:1px rgb(177, 255, 255) solid;
    text-align: center;
    grid-template-rows: auto;
}
.footer{
    border:2px black solid;
    background-color: black;
    
}
.img2{
    grid-area: hagri;
    
    height: 1500px;
    width: 600px;
}